//! **************************************************************************
// Written by: Map P.20131013 on Sun Oct 30 18:54:05 2016
//! **************************************************************************

SCHEMATIC START;
COMP "ExternalClk" LOCATE = SITE "V10" LEVEL 1;
SCHEMATIC END;

